/* ../../../../../private/var/folders/09/6h9fyj312rl6lkm877x0pzp00000gn/T/tmp-22678-QRGr7b9tZoEj/Users/michael/Lab/tractor-store-preact/checkout/src/pages/About.css */
.ex_headline--h95eb {
  color: rebeccapurple;
}
.ex_headlineSpecial--he64a {
  color: goldenrod;
}
.ex_a--b--hda9c {
  color: rebeccapurple;
}
